{% extends "./header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Notas</title>
    </head>
    <body>
        <div class="container-lg">
            <div class="row">
                <div class="col-sm-6 col-lg-12">
                    <div class="card mt-4 text-white bg-dark pb-3 pt-2">
                        <div class="card-body text-center align-items-center">
                            <div>
                                <div class="fs-2 fw-bold">
                                    DADOS GERAIS 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Total de produtos 
                                </div>
                                <div>
                                    {{ consulta_a["qtdProdutos"]["total"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Valor total dos produtos 
                                </div>
                                <div>
                                    {{ consulta_a["valorProdutos"]["total"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Total de ISSQN retido 
                                </div>
                                <div>
                                    {{ consulta_b["ISSQN"]["total"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Total do ICMS 
                                </div>
                                <div>
                                    {{ consulta_b["ICMS"]["total"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Valor aproximado de tributos 
                                </div>
                                <div>
                                    {{ consulta_b["vTributos"]["total"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Total de frete dos produtos das notas 
                                </div>
                                <div>
                                    {{ consulta_b["frete"]["total"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-12">
                    <div class="card mt-4 text-white bg-dark pb-3 pt-2">
                        <div class="card-body text-center align-items-center">
                            <div>
                                <div class="fs-2 fw-bold">
                                    PRODUTO(S) COM MENOR PREÇO 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for i in range(0, qtdMenor) %} 
                <div class="row">
                    <div class="col-sm-6 col-lg-1">
                    </div>
                    <div class="col-sm-6 col-lg-10">
                        <div class="card mt-1 text-white bg-dark">
                            <div class="card-body justify-content-between align-items-start">
                                <div>
                                    <div class="fs-3 fw-bold">
                                        Está na nota:
                                    </div>
                                    <div>
                                        {{notasMenor[i]}}
                                    </div>
                                    <div class="fs-3 fw-bold">
                                        Nome do produto:
                                    </div>
                                    <div>
                                        {{consulta_c[notasMenor[i]]["nomeProd"]}}
                                    </div>
                                    <div class="fs-3 fw-bold">
                                        Nome do remetente:
                                    </div>
                                    <div>
                                        {{consulta_c[notasMenor[i]]["nomeRemetente"]}}
                                    </div>
                                    <div class="fs-3 fw-bold">
                                        Valor do produto:
                                    </div>
                                    <div>
                                        {{consulta_c[notasMenor[i]]["valorProd"]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-1">
                    </div>
                </div>
            {%endfor%}
            <div class="row">
                <div class="col-sm-6 col-lg-12">
                    <div class="card mt-4 text-white bg-dark pb-3 pt-2">
                        <div class="card-body text-center align-items-center">
                            <div>
                                <div class="fs-2 fw-bold">
                                    PRODUTO(S) COM MAIOR IMPOSTO 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for i in range(0, qtdMenor) %} 
                <div class="row">
                    <div class="col-sm-6 col-lg-1">
                    </div>
                    <div class="col-sm-6 col-lg-10">
                        <div class="card mt-1 text-white bg-dark">
                            <div class="card-body justify-content-between align-items-start">
                                <div>
                                    <div class="fs-3 fw-bold">
                                        Está na nota:
                                    </div>
                                    <div>
                                        {{notasMenor[i]}}
                                    </div>
                                    <div class="fs-3 fw-bold">
                                        Nome do produto:
                                    </div>
                                    <div>
                                        {{consulta_c[notasMenor[i]]["nomeProd"]}}
                                    </div>
                                    <div class="fs-3 fw-bold">
                                        Nome do remetente:
                                    </div>
                                    <div>
                                        {{consulta_c[notasMenor[i]]["nomeRemetente"]}}
                                    </div>
                                    <div class="fs-3 fw-bold">
                                        Valor do produto:
                                    </div>
                                    <div>
                                        {{consulta_c[notasMenor[i]]["valorProd"]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-1">
                    </div>
                </div>
            {%endfor%}
        </div>
    </body>
</html>
{% endblock %}