{% extends "./header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>consulta de produtos</title>
    </head>
    <body>
        <div class="container-lg">
            <div class="row">
                <div class="col-sm-6 col-lg-12">
                    <div class="card mt-4 text-white bg-dark pb-3 pt-2">
                        <div class="card-body text-center align-items-center">
                            <div>
                                <div class="fs-2 fw-bold">
                                    DADOS DA {{name}} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Quantidade de produtos na nota 
                                </div>
                                <div>
                                    {{ detalhesNota["qtdProdutos"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Preço da soma dos produtos da nota 
                                </div>
                                <div>
                                    {{ detalhesNota["valorProdutos"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Remetente da nota 
                                </div>
                                <div>
                                    {{ detalhesNota["nomeRemetente"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Data de emissao 
                                </div>
                                <div>
                                    {{ detalhesNota["emissao"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Imposto da nota 
                                </div>
                                <div>
                                    {{ detalhesNota["VImposto"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    Total do frete 
                                </div>
                                <div>
                                    {{ detalhesNota["frete"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-12">
                    <div class="card mt-4 text-white bg-dark pb-3 pt-2">
                        <div class="card-body text-center align-items-center">
                            <div>
                                <div class="fs-2 fw-bold">
                                    Lista dos produtos
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            {% if detalhesNota["qtdProdutos"] > 1 %}
                {% for i in range(0, detalhesNota["qtdProdutos"]) %} 
                    <div class="col-sm-6 col-lg-6">
                        <div class="card mt-2 text-white bg-dark">
                            <div class="card-body justify-content-between align-items-start">
                                <div>
                                    <div class="fs-3 fw-bold">
                                        {{ detalhesNota["nomeProdutos"][i] }} 
                                    </div>
                                    <div>
                                        preco: {{ detalhesNota["precoProdutos"][i] }} <br>
                                        ICMS retido: {{ detalhesNota["ICMSRetProdutos"][i] }} <br>
                                        Código: {{ detalhesNota["codProdutos"][i] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {% else %}
                <div class="col-sm-6 col-lg-6">
                    <div class="card mt-2 text-white bg-dark">
                        <div class="card-body justify-content-between align-items-start">
                            <div>
                                <div class="fs-3 fw-bold">
                                    {{ detalhesNota["nomeProdutos"] }} 
                                </div>
                                <div>
                                    preco: {{ detalhesNota["precoProdutos"] }} <br>
                                    ICMS retido: {{ detalhesNota["ICMSRetProdutos"] }} <br>
                                    Código: {{ detalhesNota["codProdutos"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </body>
</html>
{% endblock %}